input:focus {
	outline: none;
}

.create header {
	padding: 0 10px;
	text-align: right;
	background-color: #1d3057;
	display: none;
	opacity: 0;
	visibility: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.create header.active {
	display: block;
	opacity: 1;
	visibility: visible;
}

.create header p {
	display: inline-block;
	cursor: pointer;
}

.create header p span {
	font-weight: 300;
	font-size: 20px;
	color: #fc3434;
}

.create .margin {
	margin: 20px 10px;
	display: none;
	opacity: 0;
	visibility: hidden;
}

.create .margin.active {
	display: inline-block;
	opacity: 1;
	visibility: visible;
}

.create span.btn-add.active {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.create input {
	padding: 10px;
	width: 100%;
	margin: 5px 0 10px 0;
	padding-bottom: 60px;
	border: none;
	font-size: 14px;
	border-radius: 5px;
	background-color: #ffffff;
	color: #181f2e;
}

.create input::placeholder {
	color: #181f2e;
}

.create .dateAndColor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.create .color {
	justify-content: left;
}

.create .date {
	width: 130px;
	height: 30px;
}
.create .date p {
	width: 100% !important;
	background-color: #f5f5f569;
	color: #181f2e;
	padding: 5px;
	width: 100px;
	text-align: center;
	font-size: 13px;
	font-weight: 500;
	border-radius: 5px;
}

.create .color span {
	width: 30px;
	height: 30px;
	margin: 0 5px;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.2s ease;
}

.create .color span:first-child {
	background-color: #f0ffb4;
	margin-left: 0;
	margin-right: 5px;
}

.create .color span:nth-child(2) {
	background-color: #b0ffc8;
}

.create .color span:nth-child(3) {
	background-color: #b8e1ff;
}

.create .color span:nth-child(4) {
	background-color: #ffc6c6;
}

.create .color span:nth-child(5) {
	background-color: #b6b6b6;
}

.create .color span:last-child {
	background-color: #ffffff;
}

.create .color span.active {
	border: 1px solid #292929;
}

.create button {
	width: 100%;
	padding: 8px 0;
	margin-top: 10px;
	background-color: #f5f5f569;
	border: none;
	transition: 0.2s ease;
	font-size: 14px;
	color: #181f2e;
	border-radius: 5px;
}

.create button:hover {
	background-color: #f5f5f549;
}

@media screen and (max-width: 420px) {
	.create .color span {
		width: 25px;
		height: 25px;
		margin: 0 2px;
	}

	.create .color span:first-child {
		margin-right: 2px;
	}

	.create .date {
		height: 24px;
		width: 100%;
	}
	.create .date p {
		height: 100%;
		padding: 4px 0px;
		text-align: center;
		font-size: 12px;
		font-weight: 500;
	}
}
