header nav {
	margin-top: 30px;
	height: 60px;
}

.burger {
	width: 45px;
	height: 25px;
	cursor: pointer;
}

.burger.open span {
	width: 60%;
	height: 4px;
	background-color: #fff;
	border-radius: 10px;
}

.add-filter {
	position: relative;
	width: 500px;
	z-index: 999;
}

.opt {
	position: relative;
	width: 210px;
}

.opt span {
	display: block;
	padding: 7px 10px;
	font-size: 13px;
	font-weight: 300;
}

.opt-selected {
	width: 100%;
	background-color: #486192;
	color: white;
	cursor: pointer;
	border-radius: 4px;
	filter: drop-shadow(1px 2px 5px #00000054);
}

.opt-group {
	position: absolute;
	border-radius: 4px;
	top: 45px;
	width: 100%;
	background-color: #486192;
	color: white;
	z-index: 99;
	transform: translateY(5px);
	opacity: 0;
	visibility: hidden;
	transition: 0.2s ease;
	cursor: pointer;
	overflow: hidden;
	filter: drop-shadow(1px 2px 5px #00000054);
}

.opt-group.show {
	transform: unset;
	opacity: 1;
	visibility: visible;
}

.opt-select:hover {
	background-color: #ffffff09;
}

.create {
	display: grid;
	place-items: center;
	position: absolute;
	top: 0;
	left: 0;
	left: 50%;
	width: 50px;
	height: 50px;
	background-color: #334f88;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.2s ease;
	transform: translate(-50%, -7px);
	filter: drop-shadow(3px 3px 10px #1a1a1a9d);
	overflow: hidden;
}

.create.show {
	display: unset;
	place-items: unset;
	width: 327px;
	height: 220px;
	transform: translate(-50%, 30%);
	cursor: unset;
}

.create header {
	padding: 13px 10px;
	text-align: right;
	background-color: #1e345f;
	width: 100% !important;
	display: none;
	opacity: 0;
	visibility: hidden;
}

.create header.show {
	display: block;
	opacity: 1;
	visibility: visible;
}

.create header span {
	font-weight: 300;
	font-size: 20px;
	color: #fc3434;
	cursor: pointer;
}

.create .margin {
	width: 100%;
	margin: 20px 30px;
	display: none;
	opacity: 0;
	visibility: hidden;
}

.create .margin.show {
	margin: 0;
	padding: 10px;
	display: inline-block;
	opacity: 1;
	visibility: visible;
}

.create .btn-add.hide {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.create input {
	padding: 10px;
	width: 100%;
	margin: 5px 0 10px 0;
	border: none;
	font-size: 13px;
	border-radius: 5px;
	background-color: #7e7e7e2d;
	color: #c9c9c9;
	transition: 0.2s ease;
}

.create input::placeholder {
	color: #c9c9c9;
}

.create input:focus {
	outline: none;
}

.create .date-color {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.create .color {
	justify-content: space-between;
	width: 70%;
	margin-right: 5px;
}
.create .date {
	background-color: #7e7e7e2d;
	color: white;
	height: 27px;
	width: 30%;
	text-align: center;
	font-size: 12px;
	font-weight: 300;
	border-radius: 4px;
	margin: 0;
	line-height: 27px;
	padding: 0 5px;
}

.create .color span {
	width: 27px;
	height: 27px;
	cursor: pointer;
	border-radius: 4px;
	transition: 0.2s ease;
	margin: 3px;
}

.create .color span:first-child {
	background-color: #d5dd5e33;
	margin-right: 3px;
}

.create .color span:nth-child(2) {
	background-color: #479e9828;
}

.create .color span:nth-child(3) {
	background-color: #5da5e428;
}

.create .color span:nth-child(4) {
	background-color: #e46b672d;
}

.create .color span:nth-child(5) {
	background-color: #e46c8c2c;
}

.create .color span:last-child {
	background-color: #7e7e7e2d;
}

.create .color span.active {
	border: 1px solid #292929;
}

.create button {
	width: 100%;
	padding: 8px 0;
	margin: 10px 0;
	background-color: whitesmoke;
	border: none;
	transition: 0.2s ease;
	font-size: 13px;
	color: #181f2e;
	border-radius: 5px;
}

.create button:hover {
	background-color: #f5f5f5b4;
}

.create button:focus {
	outline: none;
}

.foto {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid white;
	overflow: hidden;
	filter: drop-shadow(1px 2px 5px #00000054);
}

.foto img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 767.5px) {
	header nav {
		margin-top: 10px;
	}

	.add-filter {
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		width: 500px;
	}

	.opt-group.show {
		transform: translateY(-107%);
		opacity: 1;
		visibility: visible;
	}

	.list-create-btn.show {
		transform: translate(-50%, -240%);
	}
}

@media screen and (max-width: 576px) {
	.add-filter {
		width: 380px;
	}

	.opt {
		width: 150px;
	}
}

@media screen and (max-width: 420px) {
	.add-filter {
		width: 330px;
	}

	.opt {
		position: relative;
		width: 130px;
	}

	.opt span {
		padding: 7px 10px;
	}

	.create {
		width: 43px;
		height: 43px;
		transform: translate(-50%, -5px);
	}

	.create.show {
		transform: translate(-50%, -210%) scale(0.95);
	}

	.foto {
		width: 35px;
		height: 35px;
	}
}

@media screen and (max-width: 360px) {
	.create.show {
		transform: translate(-50%, -240%) scale(0.9);
	}
}

@media screen and (max-width: 320px) {
	.add-filter {
		width: 85%;
		display: flex;
		flex-direction: column;
	}

	.opt {
		width: 100% !important;
		margin: 5px 0;
	}

	.create {
		transform: translate(-50%, -120%);
	}

	.list-create-btn.show {
		transform: translate(-50%, -230%) scale(0.8);
	}
}
