.list {
	transition: 0.2s ease;
}

.list .margin {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	padding: 0 15px;
	z-index: 3;
	font-size: 13px;
	filter: drop-shadow(2px 2px 5px #1b1b1b);
	background-color: #479e9828;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	transition: 0.2s ease;
}

.margin.completed {
	opacity: 0.7;
}

.margin.completed .left .list-text p {
	text-decoration: line-through;
	opacity: 0.7;
}

.list.remove {
	opacity: 0;
}

.list .left {
	position: relative;
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	pointer-events: none;
}

.list .left span {
	width: 20px;
	height: 20px;
	border: 1px solid white;
	border-radius: 50%;
	margin-right: 15px;
}

.list .left .list-text {
	pointer-events: none;
}

.list-text p {
	margin: 0;
	pointer-events: none;
}

.list i {
	display: flex;
	justify-content: center;
	align-items: center;
}

.list i {
	font-size: 12px;
	color: white;
	font-weight: 700;
	background: linear-gradient(to right, #ce3232, #da3d3d);
	cursor: pointer;
	filter: drop-shadow(2px 1px 2px #16161691);
	border-radius: 6px;
}

.list i:first-child {
	background: linear-gradient(to right, #1d86cc, #33a0e9);
	margin-right: 8px;
}

.list .left input {
	font-family: "Poppins", sans-serif;
	position: absolute;
	top: 0;
	left: 28px;
	display: none;
	visibility: hidden;
	height: 100%;
	width: 100%;
	outline: none;
	color: rgb(255, 255, 255);
	border: none;
	padding: 0 7px;
	font-size: 13px;
	background-color: transparent;
}
.list input.show {
	display: unset;
	visibility: visible;
}

@media screen and (max-width: 420px) {
	.list .margin {
		padding: 0 7px;
		height: 40px;
	}
}
