.list {
	transition: 0.2s ease;
}

.list.remove {
	opacity: 0;
}

.list .margin {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 45px;
	z-index: 3;
	font-size: 13px;
	filter: drop-shadow(2px 2px 5px #1b1b1b);
	background-color: #479e9828;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	transition: 0.2s ease;
}

.margin.completed {
	transition: 0.2s ease;
	opacity: 0.7;
}

.transition {
	transition: 0.2s ease;
}

.margin.completed .left .list-text p {
	opacity: 0.7;
}

.margin.completed .left .list-text p::before {
	width: 100%;
}

.margin.completed .check div i {
	opacity: 1;
	visibility: visible;
	transform: unset;
}

.margin:hover .icon {
	opacity: 1;
	visibility: visible;
}

.margin .input p {
	font-size: 13px;
	font-weight: 500;
}

.check {
	padding: 10px 15px;
	display: grid;
	place-items: center;
}

.check div {
	width: 20px;
	height: 20px;
	border: 2px solid #cfcfcf;
	border-radius: 50%;
	display: grid;
	place-items: center;
	transition: 1s ease;
}

.check div i {
	opacity: 0;
	visibility: hidden;
	transition: 0.2s ease;
	transform: translateY(10px);
}

.list .left {
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	pointer-events: none;
}

.list .left .list-text {
	pointer-events: none;
	margin: 10px 0;
}

.list-text p {
	margin: 0;
	pointer-events: none;
	position: relative;
}

.list-text p::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 0;
	height: 2px;
	transform: translateY(-50%);
	background-color: white;
	transition: 0.2s ease;
}

.list .left input {
	font-family: "Poppins", sans-serif;
	position: absolute;
	top: 0;
	left: 43px;
	display: none;
	visibility: hidden;
	height: 100%;
	width: 70%;
	outline: none;
	color: #ffffff;
	border: none;
	padding: 0 7px;
	margin: 0;
	font-size: 13px;
	background-color: transparent;
}

.list .left input.show {
	display: unset;
	visibility: visible;
}

.list .icon {
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	opacity: 0;
	visibility: hidden;
	transition: 0.2s ease;
}

.list .icon i:first-child {
	font-size: 15px;
}

.list .icon i:last-child {
	font-size: 14px;
}

@media screen and (max-width: 400px) {
	.list .margin {
		min-height: 40px;
	}
}
