.list {
	position: relative;
	width: 430px;
	display: inline-block;
	background-color: #fcfcfc;
	padding: 0 7px;
	height: 48px;
	font-size: 14px;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	filter: drop-shadow(2px 2px 5px #1b1b1b);
	cursor: pointer;
	transition: 0.2s ease;
	border-radius: 6px;
	border: 2px solid whitesmoke;
	margin: 6px;
}

.list.completed {
	opacity: 0.7;
}

.list.remove {
	opacity: 0;
}

.list p {
	margin: 0;
	pointer-events: none;
	font-weight: 500;
}

.list.completed p {
	text-decoration: line-through;
	opacity: 0.7;
}

.list span,
.list i {
	display: flex;
	justify-content: center;
	align-items: center;
}

.list i {
	font-size: 12px;
	color: white;
	font-weight: 700;
	width: 70px;
	height: 100%;
	background: linear-gradient(to right, #ce3232, #da3d3d);
	cursor: pointer;
	filter: drop-shadow(2px 1px 2px #16161691);
	border-radius: 6px;
}

.list i:first-child {
	background: linear-gradient(to right, #1d86cc, #33a0e9);
	margin-right: 8px;
}

.list input {
	display: none;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	padding: 0 7px;
	font-size: 14px;
	font-weight: 500;
	background-color: transparent;
	font-family: "Poppins", sans-serif;
}
.list input.show {
	display: unset;
	visibility: visible;
}

.list:hover span:nth-child(2) {
	display: none;
}

.list:hover span:last-child {
	opacity: 1 !important;
}

.list span:last-child {
	display: flex;
	opacity: 0;
	height: 70%;
	font-size: 12px;
	transition: 0.15s ease;
}

@media screen and (max-width: 992px) {
	.list {
		width: 80%;
	}
}

@media screen and (max-width: 420px) {
	.list {
		height: 45px;
		width: 85%;
	}
}

@media screen and (max-width: 320px) {
	.list {
		height: 40px !important;
	}
}
