.side-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	background: #334f88;
	z-index: 999;
	padding: 30px;
	filter: drop-shadow(2px 1px 5px #3f3f3f7c);
	transition: 0.2s ease-in-out;
	transform: translateX(-110%);
}

.side-bar.active {
	transform: translateX(0);
}

.side-bar ul:last-child {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-around;
	width: 70%;
}

.side-bar ul li {
	list-style-type: none;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 5px;
	padding: 3px;
	cursor: pointer;
}

.side-bar ul li a {
	color: white;
}

.side-bar span.close {
	color: white;
	font-size: 30px;
	margin-top: 15px;
	cursor: pointer;
	margin-right: 20px;
}
