.side-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100vh;
	background: #334f88;
	z-index: 9999;
	padding: 30px;
	filter: drop-shadow(2px 1px 5px #00000054);
	transition: 0.1s ease;
	transform: translateX(-110%);
}

.side-bar.active {
	transform: translateX(0);
}

.side-bar ul:last-child {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-around;
	width: 70%;
}

.side-bar ul li {
	list-style-type: none;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 5px;
	padding: 3px;
	cursor: pointer;
}

.side-bar ul li a {
	color: white;
	font-size: 13px;
}

.side-bar .search {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.side-bar .search input {
	width: 80%;
	outline: none;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid white;
	color: #c9c9c9;
	font-size: 13px;
	padding: 5px 10px;
}

.side-bar .search input::placeholder {
	color: #c9c9c9;
}

.side-bar .search span {
	width: 20%;
	padding: 5px 0;
	font-size: 13px;
	background-color: transparent;
	border-bottom: 2px solid white;
	display: grid;
	place-items: center;
}

.side-bar span.close {
	color: white;
	font-size: 30px;
	margin-top: 15px;
	cursor: pointer;
	margin-right: 37px;
}

@media screen and (max-width: 767.5px) {
	.side-bar span.close {
		position: absolute;
		top: 10px;
		right: 20px;
		color: white;
		font-size: 30px;
		cursor: pointer;
	}
}

@media screen and (max-width: 576px) {
	.side-bar span.close {
		position: absolute;
		top: 10px;
		left: 13px;
		color: white;
		font-size: 30px;
		cursor: pointer;
	}
}

@media screen and (max-width: 400px) {
	.side-bar {
		width: 70%;
	}
}
