@import "./header.css";
@import "./list.css";
@import "./sidebar.css";

html body {
	background-color: #181f2e;
	font-family: "Poppins", sans-serif;
	user-select: none;
}

.container-overflow::-webkit-scrollbar {
	width: 0;
}

:root {
	scrollbar-width: 0 !important;
}

main {
	margin-top: 80px;
}

.list-container {
	height: fit-content;
	justify-content: start;
	width: 80%;
	margin-right: 13px;
}

.list-container.nothing-list {
	height: 400px;
	justify-content: center;
}

.list-container img {
	width: 300px;
	height: auto;
	opacity: 0.3;
}

.waves-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25%;
	transform: rotate(180deg);
}

@media screen and (max-width: 991.5px) {
	.list-container {
		flex-direction: column;
		width: 77%;
	}
	.waves-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 25%;
		transform: rotate(180deg);
	}
}

@media screen and (max-width: 767.5px) {
	html body {
		overflow: hidden;
	}

	.container-overflow {
		height: 450px;
	}

	.list-container {
		width: 100%;
		margin: 0;
	}

	.list-container img {
		width: 230px;
	}
}

@media screen and (max-width: 420px) {
	p {
		font-size: 13px;
	}

	.container-overflow {
		height: 420px;
	}

	.list-container img {
		width: 250px;
	}
}

@media screen and (max-width: 280px) {
	.list-container.nothing-list img {
		width: 70%;
	}
}
