@import "./header.css";
@import "./list.css";
@import "./sidebar.css";

html body {
	background-color: #181f2e;
	font-family: "Poppins", sans-serif;
	user-select: none;
	height: 100%;
}

button {
	outline: none !important;
	border: none;
}

.container-overflow::-webkit-scrollbar {
	width: 0;
}

:root {
	scrollbar-width: 0 !important;
}

main {
	margin-top: 80px;
}

.list-container {
	height: fit-content;
	justify-content: start;
	width: 80%;
	margin-right: 13px;
	padding-bottom: 40px;
}

.list-container.nothing-list {
	height: 400px;
	align-items: center;
	justify-content: center;
}

.list-container img {
	width: 300px;
	height: auto;
	opacity: 0.3;
}

@media screen and (max-width: 991.5px) {
	.list-container {
		flex-direction: column;
		width: 77%;
	}
}

@media screen and (max-width: 767.5px) {
	html body {
		overflow: hidden;
	}

	main {
		margin-top: 30px;
	}

	.container-overflow {
		height: 450px;
		padding-bottom: 0;
	}

	.list-container {
		width: 100%;
		margin: 0;
	}

	.list-container img {
		width: 230px;
	}
}

@media screen and (max-width: 420px) {
	p {
		font-size: 13px;
	}

	.list-container img {
		width: 200px;
	}
}

@media screen and (max-width: 280px) {
	.list-container.nothing-list img {
		width: 70%;
	}
}
