@import "./list.css";
@import "./sidebar.css";
@import "./create.css";

html body {
	background-color: #181f2e !important;
	font-family: "Poppins", sans-serif;
}

header nav {
	margin-top: 30px;
}

.burger {
	width: 45px;
	height: 25px;
	cursor: pointer;
}
.burger.open span {
	width: 60%;
	height: 3px;
	background-color: #fff;
	border-radius: 20px;
}

.opt span {
	display: block;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 500;
}

.opt span.opt-selected {
	border: 3px solid white;
}

.opt {
	width: 250px;
	position: relative;
}

.opt-selected {
	width: 100%;
	background-color: whitesmoke;
	cursor: pointer;
	border-radius: 5px;
	filter: drop-shadow(2px 2px 5px #bdbdbd4f);
}

.opt-group {
	position: absolute;
	border-radius: 5px;
	top: 45px;
	width: 100%;
	background-color: whitesmoke;
	filter: drop-shadow(2px 2px 5px #bdbdbd4f);
	cursor: pointer;
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	transition: 0.2s ease-in-out;
	z-index: 99;
}
.opt-group.active {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.opt-select {
	border-radius: 5px;
}
.opt-select:hover {
	background-color: #a7a7a728;
}

.tambah-filter {
	width: 600px;
}

.tambah-filter button {
	margin: 0 15px;
	border: 3px solid white;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	filter: drop-shadow(2px 2px 5px #bdbdbd4f);
	background-color: #334f88;
	color: white;
}

.tambah-filter button:focus {
	outline: none;
}

.foto {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 3px solid white;
	overflow: hidden;
	filter: drop-shadow(2px 2px 5px #bdbdbd4f);
}
.foto img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.to-center {
	width: 900px;
}

.waves-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25%;
	transform: rotate(180deg);
}

@media screen and (max-width: 992px) {
	.list-container {
		flex-wrap: nowrap;
		flex-direction: column;
	}
}

@media screen and (max-width: 768px) {
	html body {
		overflow: hidden;
	}
	.tambah-filter {
		position: absolute;
		bottom: 5%;
		left: 50%;
		z-index: 99;
		transform: translateX(-50%);
		width: 400px;
	}

	.opt-group {
		top: 45px;
		transform: translateY(30px);
	}
	.opt-group.active {
		transform: translateY(-100%);
		opacity: 1;
		visibility: visible;
	}
	.opt {
		width: 150px !important;
	}
	.waves-bottom {
		width: 150% !important;
		transform: translateX(-50px) rotate(180deg);
	}
}
